.heading {
    font-size: 25px;
    width: 100%;
    font-style: red;
    margin: 0px;
    box-shadow: 5px 5px 5px yellow;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: red;
}

.heading_div2 {
    font-size: 18px;
}

.copy_right_footer {
    position: fixed;
    color: whitesmoke;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;

}